AUTH0_DOMAIN=dev-nocq8dgiw87hgvit.eu.auth0.com
AUTH0_AUDIENCE=https://api.myapp.com
CLIENT_ORIGIN=http://localhost:5173
PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
DATABASE_URL=postgresql://postgres:postgres@db:5432/app
